<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <style type="text/css">
        body
        {
            background: aqua;
            /* background-image: url("../images/workspace.jpg");
            background-repeat: no-repeat;
	        background-size: cover;
            background-attachment: fixed; */
        }
    </style>
</head>
<body>
   
<!-- <h1 style="text-align: center; color: white ">Admin Desk</h1> -->
<h3 style="text-align: center">All Teams</h3> <br>
<% var e=1 %>

<% all.forEach(function(team){ %>
    
    

            <% if(team.name!=null){ %>
                
                <div class="card-deck col-lg-8" style="width: 50%; align:text-center ; margin: auto;margin-bottom: 40px; color: white ;background-color: rgba(0, 0, 0, .8); border-radius: 20px; " >
                        <div class="card " style="background-color: transparent">
                          <!-- <div class="card-body text-center" style="background-color: rgba(255, 0, 0, 0.4); "> -->
                               
                                <p>

                                        <h4 style="text-align: center">Team No-<%= e %></h4> <br>
                                        <% e++ %>
                                    <h4>TEAM NAME - <%= team.name %></h4>
                                    <h4>TEAM LEADER EMAIL - <%= team.email %></h4> <br> 
                                <h4 style="text-align: center">PARTICIPANTS :-</h4> <br>
                                <h6>NAME- <%= team.one.name %>, &emsp; YEAR- <%= team.one.year %>, &emsp; BRANCH- <%= team.one.branch %> </h6>
                                <h6>NAME- <%= team.two.name %>, &emsp; YEAR- <%= team.one.year %>, &emsp; BRANCH- <%= team.one.branch %> </h6>
                                <h6>NAME- <%= team.three.name %>, &emsp; YEAR- <%= team.three.year %>, &emsp; BRANCH- <%= team.three.branch %> </h6>
                                <h6>NAME- <%= team.four.name %>, &emsp; YEAR- <%= team.four.year %>, &emsp; BRANCH- <%= team.four.branch %> </h6>
                                <br> <h4>IDEA for hackathon : -<h4> <h6><%= team.idea %></h6></p>
                              <!-- </div> -->
                            </div>
                            
                            
                          </div>
            <% } %>
         

                      
                  
                



<% }) %>


</body>